.header{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 3rem;
    margin: 2px 0px;
    width: 500px;
    background-color: skyblue;
    color: white;

   }
.contentsidebar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 8rem;
    grid-gap: 2px;
    margin: 2px 100px;
    width: 300px;
}
.twins{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem;
    grid-gap: 2px;
    margin: 2px 100px;
    width: 300px;
     
}
.footer{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 3rem;
    margin: 2px 0px;
    width: 500px;
    background-color: blue;
    color: white;
}
.grid-item-4{
    background-color: orange;
    color: white;
    text-align:center;
    padding: 35px 0;
}
.grid-item-2{
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 50px 0;
}
.grid-item-3{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 50px 0;
}
.grid-item-5{
    background-color: orange;
    color: white;
    text-align: center;
   vertical-align: middle;
   padding: 35px 0;
    
}
.grid-item-1{
    padding:15px 10px;
}
.grid-item-6{
    padding: 15px 10px;
}

